@import '../variables';

.container {
    margin: 200px auto 0;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.title {
    font-size: 40px;
}

.desc {
    font-size: 24px;
    margin-top: 40px;

    @include mq(sm) {
        margin-top: 20px;
    }
}