.container {
    padding: 100px 0;
    margin-inline: auto;
    text-align: center;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__notLogin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.repoList {
    margin-top: 10px;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.btn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    padding: 6px 16px;
    display: inline-block;
    &:hover {
        color: #000;
        border: 2px solid #000;
        background: #fff;
    }
}